@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto:ital@0;1&display=swap");

body {
  background-color: aquamarine;
  font-family: "Roboto", sans-serif;
  text-align: center;
  transition: background 1s;
}
h1 {
  font-size: 120px;
  font-family: "Palette Mosaic", cursive;
  margin: 0;
}
h1,
h2 {
  font-weight: 400;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: color 1s;
}
p {
  font-size: 30px;
  margin: 0;
  font-weight: 400;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: color 1s;
}

#score {
  text-decoration: none;
  font-size: 48px;
}

button {
  width: 184px;
  height: auto;
  font-size: 48px;
  border-radius: 5px;
}
