@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto:ital@0;1&display=swap");

body {
  background-color: aquamarine;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 120px;
  font-family: "Palette Mosaic", cursive;
}
