@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto:ital@0;1&display=swap");

body {
  background-color: aquamarine;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
h1 {
  font-size: 120px;
  font-family: "Palette Mosaic", cursive;
}
p {
  font-size: 30px;
}

#score {
  text-decoration: none;
  font-size: 48px;
}

button {
  width: 184px;
  height: auto;
  font-size: 48px;
  border-radius: 5px;
}
